@media screen and (max-width: 800px) {
    nav.navbar.navbar-expand.navbar-theme {
        display: flex;
    }

    .left-content,
    .right-content,
    .main > .row > div {
        height: auto !important;
    }

    .main > .row {
        height: auto;
        padding: 0;
        overflow: visible;
    }
}
