
span.status-1 {
    color: green;
    font-weight: bold;
}

span.status-2 {
    color: red;
    font-weight: bold;
}

h5.title-header {
    font-size: 12px;
    font-weight: bold;
    color: #2e2e2e;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main>.row>div {
    overflow-x: hidden;
}

table#quit_claims_table td {
    font-size: 10px !important;
    max-width: none !important;
    padding: 0px 10px;
}

table#quit_claims_table td button {
    font-size: 10px;
    padding: 3px 10px !important;
    width: 100%;
}

td.name-td {
    background: #f9ffc7;
    font-weight: bold;
    padding: 4px 12px !important;
}

td.price-td {
    background: green;
    color: #fff;
    font-weight: bold;
}