.employee_info {
    font-weight: bold;
    cursor: pointer;
}
.employee_info img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #000;
}
.employee-data {
    display: flex;
    padding: 10px;
    background: #fff7d2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.employee-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center center !important;
    background-size: cover !important;
    border: 2px solid #c2c6ca;
}
.employee-details b {
    font-weight: bold;
}
.employee-details {
    padding: 10px 20px;
}
.record-details b {
    font-weight: bold;
}
.sc-modal-dialog.sc-xl {
    max-width: 1200px !important;
}
.time-entry-title {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.dataTable td {
    vertical-align: top !important;
}
.record-status {
    float: right;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.status-0 {
    background: orange;
}
.status-1 {
    background: #1c1c9d;
}
.status-2 {
    background: #ffe007;
}
.status-3 {
    background: #44ff07;
}
.status-4 {
    background: #ff0713;
}
.status-5 {
    background: #00d0ff;
}
.status-list ul {
    list-style: none;
    margin: 0px;
    background: #fff;
    position: absolute;
    width: 140px;
    border-radius: 3px;
    margin-top: 18px;
    /* margin-left: -55px; */
    padding: 0px;
    box-shadow: 0 0 6px 2px #ccc;
}
.status-list li a {
    display: block;
    color: #000;
    padding: 3px 5px;
    text-decoration: none;
}
.status-list li a:hover {
    background: #eee;
}
.status-list {
    display: none;
}
.status-list.show {
    display: block;
}

span.colors {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}

span.text-status {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
}
.legend-status {
    display: inline-block;
    padding: 5px 15px;
}
.col-12.legend {
    margin-bottom: 10px;
}

/* button.btn.btn-secondary.buttons-csv.buttons-html5 {
    background: #30bf30 !important;
    color: #fff !important;
}

button.btn.btn-secondary.buttons-pdf.buttons-html5 {
    background: #bf3530 !important;
    color: #fff !important;
} */

.schedule-status.sch-1 {
    color: #2bbd2b;
    font-weight: bolder;
}

.schedule-status.sch-2 {
    color: #b8110c;
    font-weight: bolder;
}

td .form-control {
    font-size: 10px;
}

.sc-modal-dialog.sc-xl {
    max-width: 100% !important;
}

.sc-modal-content {
    width: calc(100% - 73px) !important;
}

table.dataTable td {
    max-width: none !important;
}

td.td-label {
    font-weight: bold;
    font-size: 10px;
}

td.td-val {
    font-size: 10px;
}

table#timesheet {
    width: 100%;
    margin-top: 10px;
}

table#timesheet th {
    font-size: 10px;
    padding: 5px;
    background: #6eafdb;
    color: #fff;
}

table#timesheet td {
    border: 1px solid #fff;
    padding: 5px;
    font-size: 10px;
    background: #eee;
}

span.status.ABSENT {
    color: red;
    font-weight: bold;
}

span.status.WORK {
    color: green;
    font-weight: bold;
}

span.status.OFF {
    color: gray;
    font-weight: bold;
}

span.status.VACATION-LEAVE {
    color: orange;
    font-weight: bold;
}

table#payroll_calculation {
    width: 100%;
    font-size: 10px;
    text-align: center;
}

table#payroll_calculation th {
    background: #6eafdb;
    padding: 5px;
    color: #fff;
}

table#payroll_rate_details,
table#payroll_leaves,
table#payroll_deductions,
table#payroll_other_deductions,
table#payroll_tax {
    width: 100%;
    font-size: 10px;
}

table#payroll_rate_details td,
table#payroll_leaves td,
table#payroll_deductions td,
table#payroll_other_deductions td,
table#payroll_tax td,
table#payroll_calculation td {
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-word;
}

table#payroll_deductions tbody td:first-child,
table#payroll_deductions tfoot td:first-child {
    white-space: nowrap;
    overflow-wrap: normal;
    word-break: keep-all;
}


#total_earnings,
#total_gross,
#total_deduction {
    white-space: nowrap !important;
    overflow-wrap: normal !important;
    word-break: keep-all !important;
}

#net_pay,
#total_net_pay {
    white-space: nowrap !important;
    overflow-wrap: normal !important;
    word-break: keep-all !important;
}

#total_sss,
#total_philhealth,
#total_pagibig,
#total_government_deduction {
    white-space: nowrap !important;
    overflow-wrap: normal !important;
    word-break: keep-all !important;
}

#details_form table i {
    color: #3282b8;
    font-weight: bold;
}

tr.gross {
    background: #c1e6ff !important;
    color: #000;
    font-weight: bold;
}

tfoot tr {
    background: #eee;
}

#payroll_tax tfoot tr {
    background: #0cab54 !important;
    color: #fff;
    font-weight: bold;
}

.timesheet-approve {
    background: #099d09;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

button.add-allowance,
button.add-deductions {
    display: block;
    width: 100%;
    border: 0px;
    color: #3282b8;
    font-weight: bold;
    background: transparent;
}

table#payroll_other_deductions tfoot tr {
    background: transparent;
}

tr.other-deduct-total {
    background: #eee !important;
}

span.status.HOLIDAY {
    color: #c59401;
    font-weight: bold;
}

.action-buttons{
    margin-bottom: 0px;
}

.sc-modal {
    margin-top: 0px !important;
}

td.name-list {
    width: 100% !important;
}

input.editable-time {
    border: 0px;
    width: 100%;
    height: 100% !important;
    display: block !important;
    padding: 4px 0px !important;
}

td.set-time-1 {
    padding: 0px !important;
    background: #fff !important;
    border: 1px solid #eee !important;
}

td.name-list:hover {
    background: #eff7c6;
}

.edit-btn {
    background: #6eafdb !important;
    color: #fff !important;
}

.cell-ABSENT>td {
    background: #ffdcdc !important;
}

.cell-WORK>td {
    background: #dcffdf !important;
}

.cell-HOLIDAY>td {
    background: #fdf4c5 !important;
}

.cell-VACATION-LEAVE>td {
    background: #ffe6ab !important;
}

.status {
    white-space: nowrap;
}

tbody.header td {
    font-weight: bold;
    border-top: 1px solid #ccc;
}
